<%= render :partial => 'layouts/errors', :locals => {:object => @entry} %>
<div class="hero-unit">
  <%= form_for(@entry) do |f| %>
    <p>
    記事を更新する
    </p>
    <div>
      <%= link_to 'textile記法', 'http://redcloth.org/textile/', :target => '_blank', :class => 'icon-question-sign' %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit "更新する", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
